<script src="https://cdn.jsdelivr.net/npm/@ruby/3.2-wasm-wasi@2.4.0/dist/browser.script.iife.js"></script>
<script type="text/ruby">
  require "js"

  srand(<%= @seed %>)

  def document = JS.global[:document]

  CARD = (1..75).each_slice(15).map { |i| i.sample(5) }.transpose
  CARD[2][2] = ""

  card = document.getElementById("card")
  card[:innerHTML] = 
    "<tr>" + "BINGO".chars.map.with_index { |c, i| "<th id=\"h#{i}\">#{c}</th>" }.join + "</tr>" +
    CARD.map.with_index { |row, y|
      "<tr>" + row.map.with_index { |i, x| "<td id=\"c#{x}#{y}\">#{i}</td>" }.join + "</tr>"
    }.join
  cell = document.getElementById("c22")
  cell[:style][:backgroundColor] = "#ffd75e"

  def sleep_ms(ms)
    JS.eval("return new Promise((resolve) => setTimeout(resolve, #{ms}))").await
  end

  def bingo?(selected)
    (0..4).any? { |i| (0..4).all? { |j| selected[i][j] } } ||
      (0..4).any? { |i| (0..4).all? { |j| selected[j][i] } } ||
      (0..4).all? { |i| selected[i][i] } ||
      (0..4).all? { |i| selected[i][4-i] }
  end

  def update_loop
    selected = Array.new(5) { [] }
    selected[2][2] = true
    while true
      selected_numbers = JS.global.fetch("/numbers.json?t=#{Time.now.to_i}").await.json.await[:numbers].to_s.split(/,/).map(&:to_i)
      for x in 0..4
        for y in 0..4
          cell = document.getElementById("c#{x}#{y}")
          if selected_numbers.include?(CARD[y][x])
            selected[y][x] = true
            if selected_numbers.last == CARD[y][x]
              cell[:style][:backgroundColor] = "#ec4646"
            else
              cell[:style][:backgroundColor] = "#ffd75e"
            end
          end
        end
      end
      if bingo?(selected)
        for i in 0..4
          cell = document.getElementById("h#{i}")
          cell[:style][:backgroundColor] = "#ec4646"
          sleep_ms(500)
        end
        return
      end
      sleep_ms(5000)
    end
  end
</script>
<script type="text/javascript">
async function start() {
  await new Promise((resolve) => setTimeout(resolve, 5000))
  await window.rubyVM.evalAsync("update_loop")
}
start()
</script>
<style type="text/css">
  #card {
    font-family: sans-serif;
    width: 500px;
    height: 500px;
    font-size: 2.5em;
    table-layout: fixed;
  }
  @media screen and (max-device-width: 600px) {
    body {
      margin: 0;
    }
    #card {
      width: 100vw;
      height: 100vw;
      font-size: 10vw;
      padding: 8px;
    }
  }
  #card th {
    background-color: #3258a8;
    color: #ffffff;
    text-align: center;
    padding: 5px;
  }
  #card td {
    background-color: #b4dafa;
    color: #000000;
    text-align: center;
    padding: 5px;
  }
</style>

<table id="card">
</table>
