<script src="https://cdn.jsdelivr.net/npm/ruby-head-wasm-wasi@0.5.0/dist/browser.script.iife.js"></script>
<script type="text/ruby">
  require "js"

  srand(<%= @seed %>)

  document = JS.global[:document]

  bingo = (1..75).each_slice(15).map { |i| i.sample(5) }.transpose
  bingo[2][2] = ""

  card = document.getElementById("card")
  card[:innerHTML] = 
    "<tr>" + "BINGO".chars.map.with_index { |c, i| "<th id=\"h#{i}\">#{c}</th>" }.join + "</tr>" +
    bingo.map.with_index { |row, y|
      "<tr>" + row.map.with_index { |i, x| "<td id=\"c#{x}#{y}\">#{i}</td>" }.join + "</tr>"
    }.join
  cell = document.getElementById("c22")
  cell[:style][:backgroundColor] = "#ffd75e"

  define_method(:update) do
    selected_numbers = JS.global.fetch("/numbers.json").await.json.await[:numbers].to_s.split(/,/).map(&:to_i)
    5.times do |x|
      5.times do |y|
        cell = document.getElementById("c#{x}#{y}")
        if selected_numbers.last == bingo[y][x]
          cell[:style][:backgroundColor] = "#ec4646"
        elsif selected_numbers.include?(bingo[y][x])
          cell[:style][:backgroundColor] = "#ffd75e"
        end
      end
    end
  end
</script>
<script type="text/javascript">
function isBingo(selectedNumbers) {
  let bingo = [[], [], [], [], []];
  for (let x = 0; x < 5; x++) {
    for (let y = 0; y < 5; y++) {
      let cell = document.getElementById(`c${x}${y}`)
      bingo[y][x] = window.getComputedStyle(cell, "").backgroundColor != 'rgb(180, 218, 250)'
    }
  }
  for (let i = 0; i < 5; i++) {
    if ([0, 1, 2, 3, 4].every((j) => bingo[i][j])) return true;
    if ([0, 1, 2, 3, 4].every((j) => bingo[j][i])) return true;
  }
  if ([0, 1, 2, 3, 4].every((i) => bingo[i][i])) return true;
  if ([0, 1, 2, 3, 4].every((i) => bingo[i][4 - i])) return true;
  return false;
}

function sayBingo(i) {
  let cell = document.getElementById(`h${i}`)
  cell.style.backgroundColor = "#ec4646"
  if (i < 4) setTimeout(() => sayBingo(i + 1), 500);
}

function update() {
  fetch("/numbers.json")
    .then((response) => {
      return response.json()
    })
    .then((json) => {
      let selectedNumbers = json.numbers;
      for (let x = 0; x < 5; x++) {
        for (let y = 0; y < 5; y++) {
          let cell = document.getElementById(`c${x}${y}`)
          let val = parseInt(cell.innerText)
          if (selectedNumbers.slice(-1)[0] == val) {
            cell.style.backgroundColor = "#ec4646"
          }
          else if (selectedNumbers.includes(val)) {
            cell.style.backgroundColor = "#ffd75e"
          }
        }
      }
      if (isBingo(selectedNumbers)) {
        sayBingo(0);
      }
      else {
        setTimeout(update, 5000)
      }
    })
    .catch((error) => {
      console.log(error);
      setTimeout(update, 5000)
    })
}

setTimeout(update, 5000)
</script>
<style type="text/css">
  #card {
    font-family: sans-serif;
    width: 500px;
    height: 500px;
    font-size: 2.5em;
    table-layout: fixed;
  }
  @media screen and (max-device-width: 600px) {
    body {
      margin: 0;
    }
    #card {
      width: 100vw;
      height: 100vw;
      font-size: 10vw;
      padding: 8px;
    }
  }
  #card th {
    background-color: #3258a8;
    color: #ffffff;
    text-align: center;
    padding: 5px;
  }
  #card td {
    background-color: #b4dafa;
    color: #000000;
    text-align: center;
    padding: 5px;
  }
</style>

<table id="card">
</table>
